{% extends 'base/generic.html' %}
{% load static %}


{% block head %}
	<link rel="stylesheet" href="{% static 'css/leren.css' %}">
{% endblock head %}


{% block content %}

	<div class="leercontainer-top">
		<progress value="30" max="100"></progress>
		<div class="right">TODO: Extra info?</div>
	</div>
	<div class="leercontainer">
		<div class="question">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, repudiandae?</div>

		<input type="text" class="answer" placeholder="Answer">
	</div>

	<script src="{% static 'js/leren.js' %}"></script>
{% endblock content %}