{% extends 'base/generic.html' %}
{% load static %}


{% block head %}
	<link rel="stylesheet" href="{% static 'css/leren.css' %}">
{% endblock head %}


{% block content %}
	<div class="leercontainer">
		<div class="top">
			Goed: 5/12 woorden
			<progress value="30" max="100"></progress>
			Nog 7 woorden
		</div>

		<div class="question">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, repudiandae?</div>

		<input type="text" class="answer">
	</div>

	<script src="{% static 'js/leren.js' %}"></script>
{% endblock content %}