{% extends 'base/generic.html' %}
{% load static %}


{% block head %}
	<link rel="stylesheet" href="{% static 'css/leren.css' %}">
{% endblock head %}


{% block content %}
	<div class="block-top">
		<progress value="30" max="100"></progress>
		{% comment %} <div class="right">TODO: Extra info?</div> {% endcomment %}
	</div>

	<div class="block">
		<div class="question">Lorem ipsum</div>

		<input type="text" class="answer" placeholder="Answer">
	</div>

	<div class="notification" show="false" color="good">Lorem ipsum!</div>

	<script src="{% static 'js/core.js' %}"></script>
	<script src="{% static 'js/leren.js' %}"></script>
{% endblock content %}