.leercontainer {
	background-color: var(--accent-dark);
	border-radius: 0.3em;
	padding: 1em;
	margin-top: 5em;

	text-align: center;
}

.leercontainer .top {
	/* background-color: var(--accent-lighter-dark); */
	border: 0.1em solid white;
	border-radius: 0.25em;
	padding: 1em;
	margin-bottom: 0.5em;
}

.leercontainer .question {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

.leercontainer .answer {
	width: 70%;
	font-size: 2em;
	text-align: center;
}