@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');


body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgb(30, 30, 30);
	color: rgb(230, 230, 230);
	margin: 0;
}

.container {
	padding: 0 10vw;
}

.navbar {
	height: 3em;
	margin: 0;
	background-color: #323232;
}