@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');


body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: rgb(30, 30, 30);
	color: rgb(230, 230, 230);
	margin: 0;
}

.container {
	padding: 0 10vw;
}

.navbar {
	height: 4em;
	margin: 0;
	background-color: #323232;
	display: flex;
	align-items: center;
}
.navbar .title {
	font-family: 'Heebo';
	font-weight: 300;
	font-size: 2em;
	color: white;
	margin-left: 0.5em;
	user-select: none; /* Standard */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
}

.block {
	background-color: rgb(65, 130, 165);
	border-radius: 0 0 0.3em 0.3em;
	padding: 5em;

	text-align: center;
}

.block-top {
	background-color: rgb(55, 120, 155);
	border-radius: 0.3em 0.3em 0 0;

	margin-top: 5em;
	padding: 1em;
}
.block-top .right {
	float: right;
}

button {
	color: white;
	background-color: rgba(0,0,0,0);  /* Transparent background */
	font-size: 1.5em;
	text-decoration: none;
	border: solid 0.1em white;
	border-radius: 0.25em;
	padding: 0.15em;
}